@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #6E07F3;
}
::-webkit-scrollbar-thumb {
    background: #888888;
}
::-webkit-scrollbar-thumb:hover {
    background: white;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Roboto Slab";
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}
.navbar-content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    margin: 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: white;
    padding: 10px 0;
}
.navbar .navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-a, .goa a, #nike-a, #history-a{
    color: #6E07F3;
    border: 2px solid #6E07F3;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style-type: none;
}
.menu-list li a{
    color: #141C3A;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: #6E07F3;
}
#contact-a:hover, #goa-a:hover, #nike-a:hover, #history-a:hover{
    background-color: #6E07F3;
    color: white;
}
.icon{
    color: #6E07F3;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar .logo img{
    width: 75px;
}
main{
    padding-top: 200px;
}
.section1{
    text-align: center;
    width: 100%;
}
h1{
    color: #141C3A;
    font-size: 40px;
}
.section1 p{
    color: #141C3A;
    margin-top: 20px;
    font-size: 22px;
}
#img1{
    width: 17.1875%;
    border-radius: 50%;
    margin-top: 75px;
}
#img2{
    width: 55%;
    margin-top: 75px;
}
.section2{
    background-color: #6E07F3;
    color: white;
    text-align: center;
}
.section2 h2{
    padding-top: 100px;
    font-size: 30px;
}
.section2-p{
    width: 40%;
    margin-left: 30%;
    margin-top: 30px;
    padding-bottom: 250px;
    font-weight: 500;
}
.section3{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    display: flex;
    text-align: center;
    margin-top: -150px;
    border-radius: 12px;
    color: #141C3A;
    border: 2px solid #E6ECF8;
}
.part1, .part2{
    border-right: 1px solid #E6ECF8;
}
.section3 img{
    background-color: #5BE9B9;
    border-radius: 50%;
    width: 75px;
    padding: 10px;
    margin-top: 50px;
}
.section3 div{
    width: 33%;
    padding: 20px;
}
.section3 h2{
    font-size: 22px;
}
.section3 h3{
    font-size: 16px;
    padding: 10px;
    color: #6E07F3;
}
.section3 p{
    font-size: 16px;
    padding: 20px;
    font-weight: 500;
}
.section4, .section5, .section6{
    text-align: center;
    margin-top: 150px;
    color: #141C3A;
}
.section4 p a{
    color: #6E07F3;
    text-decoration: none;
}
.section4 h2{
    margin-bottom: 30px;
}
.projects{
    width: 80%;
    margin-left: 10%;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}
.projects div{
    width: 30%;
    cursor: pointer;
    border-radius: 15px;
    height: 300px;
}
.goa{
    background: url(Images/GOA\ background.webp) no-repeat;
    background-size: cover;
    background-position: center;
}
.nike{
    background: url(Images/nike.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.history{
    background: url(Images/history.webp) no-repeat;
    background-size: cover;
    background-position: center;
}
.goa p, .goa a, .nike p, .nike a, .history a, .history p{
    display: none;
}
.goa:hover, .nike:hover, .history:hover{
    background: #888888;
    transition: all 0.3s ease-in-out;
    #goa-p, #goa-a, #nike-p, #nike-a, #history-a, #history-p{
        display: block;
        color: white;
        transition: all 0.3s ease-in-out;
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }
}
#img3{
    width: 50px;
}
.section5-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6E07F3;
    border: 2px solid #6E07F3;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    cursor: pointer;
}
.section5-link:hover{
    background-color: #6E07F3;
    color: black;
}
.section5-link a:hover{
    color: white;
}
.section5-link a, .section5-link img{
    padding: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.section6{
    font-weight: 500;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.section6 h2{
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 700;
}
#img4, #img5{
    width: 100px;
    height: 100px;
    border-radius: 35%;
    margin-top: 75px;
    margin-bottom: 30px;
}
.nika-keshelava, .luka-tskhvaradze{
    width: 50%;
    word-spacing: 5px;
    font-size: 18px;
}
.section6-part1, .section6-part2{
    width: 50%;
    margin-left: 25%;
}
.section6-part1 p, .section6-part2 p{
    padding: 20px;
}
#part1-p1, #part2-p1{
    font-weight: 900;
    font-size: 20px;
}
#part1-p2, #part2-p2{
    font-weight: 500;
    word-spacing: normal;
}
.section7{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    background-color: #141C3A;
    border-radius: 15px;
    color: white;
    margin-bottom: -20px;
}
.section7-div{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    align-items: center;
}
#section7-a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #5BE9B9;
    border-radius: 30px;
}
#section7-a:hover{
    background-color: #5BE9B9;
    color: #141C3A;
}
footer{
    background-color: #6E07F3;
    text-align: center;
    overflow: hidden;
    color: white;
    font-size: 20px;
}
#img6{
    padding-top: 50px;
    width: 300px;
}
.footer-container{
    margin-top: 50px;
    margin-bottom: 150px;
}
.footer-container img{
    width: 75px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 20px;
}
@media (max-width: 1150px){
    .section4, .section5, .section6{
        margin-top: 100px;
    }
    .section3 p{
        padding: 5px;
        font-size: 14px;
    }
    .section3 h2{
        font-size: 20px;
    }
    .section3 img{
        width: 50px;
        padding: 5px;
        margin-top: 50px;
    }
    .projects div{
        width: 30%;
        cursor: pointer;
        border-radius: 15px;
        height: 250px;
    }
    #goa-p, #goa-a, #nike-p, #nike-a, #history-a, #history-p{
        width: 75%;
        margin-left: 12.5%;
        font-size: 12px;
        
    }
    .nika-keshelava, .luka-tskhvaradze{
        word-spacing: 5px;
        font-size: 16px;
    }
    .section6-part1 p, .section6-part2 p{
        padding: 10px;
    }
    #part1-p1, #part2-p1{
        font-weight: 700;
        font-size: 18px;
    }
    #part1-p2, #part2-p2{
        font-weight: 500;
        word-spacing: normal;
    }
    .section7{
        width: 70%;
        margin-left: 15%;
        margin-top: 75px;
    }
    .section7 h2{
        font-size: 18px;
        padding: 10px;
    }
    .section7 p{
        font-size: 14px;
        padding: 10px;
    }
    #section7-a{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
    }
    footer{
        font-size: 16px;
    }
    #img6{
        padding-top: 20px;
        width: 200px;
    }
    .footer-container img{
        width: 50px;
    }
}
@media (max-width: 868px){
    .icon{
        display: block;
    }
    body.disabledScroll{
        overflow: hidden;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        background: #888888;
        height: 100vh;
        width: 70%;
        max-width: 400px;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu-list.active{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 160px;
    }
    .navbar .menu-list li a{
        font-size: 40px;
        text-decoration: none;
    }
    #contact-a{
        border: none;
        color: #141C3A;
    }
    .section1 h1{
        font-size: 35px;
    }
    #img1{
        width: 35%;
    }
    #img2{
        width: 75%;
    }
    #section2-h2{
        font-size: 25px;
    }
    .section2-p p{
        font-size: 14px;
    }
    .section3 p{
        padding: 2.5x;
        font-size: 10px;
    }
    .section3 h3{
        font-size: 12px;
    }
    .section3 h2{
        font-size: 16px;
    }
    .section3 img{
        width: 35px;
        padding: 2.5px;
        margin-top: 50px;
    }
    #section4-h2{
        font-size: 20px;
    }
    .projects div{
        width: 30%;
        height: 200px;
    }
    #goa-p, #goa-a, #nike-p, #nike-a, #history-a, #history-p{
        padding: 0;
        width: 70%;
        margin-left: 15%;
        font-size: 10px;
    }
    .section5 h2{
        font-size: 20px;
    }
    .section5 p{
        font-size: 16px;
    }
    .nika-keshelava, .luka-tskhvaradze{
        word-spacing: normal;
        font-size: 14px;
    }
    .section6-part1 p, .section6-part2 p{
        padding: 4px;
    }
    #part1-p1, #part2-p1{
        font-size: 16px;
    }
    #part1-p2, #part2-p2{
        font-weight: 500;
        word-spacing: normal;
    }
    .section7-div{
        padding: 30px;
    }
    footer{
        font-size: 14px;
    }
    #img6{
        padding-top: 20px;
        width: 150px;
    }
    .footer-container img{
        width: 40px;
    }
    .footer-container {
        margin-bottom: 40px;
    }
}
@media(max-width: 600px){
    #img1{
        width: 150px;
    }
    #section2-h2{
        font-size: 20px;
    }
    .section2-p p{
        font-size: 12px;
    }
    .section3 p{
        font-size: 8px;
    }
    .part3{
        display: none;
    }
    .section3 div{
        width: 50%;
    }
    .section3{
        justify-content:space-evenly;
    }
    .section3 div{
        padding: 20px;
    }
    .section3 h2{
        font-size: 16px;
    }
    #section4-h2{
        font-size: 18px;
    }
    .section4 p{
        font-size: 14px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .projects{
        display: block;
    }
    .projects div{
        width: 50%;
        margin-left: 25%;
        height: 200px;
        margin-top: 50px;
    }
    #goa-p, #goa-a, #nike-p, #nike-a, #history-a, #history-p{
        width: 80%;
        margin-left: 10%;
        font-size: 12px;
    }
    .section5 h2{
        font-size: 18px;
    }
    .section5 p{
        font-size: 14px;
    }
    .section6-part1 p, .section6-part2 p{
        font-size: 10px;
    }
    .container img{
        width: 50px;
    }
    .section7 h2{
        font-size: 14px;
    }
    #section7-a{
        font-size: 8px;
    }
    .section7 p{
        font-size: 8px;
    }
}
@media(max-width: 400px){
    .projects div{
        width: 40%;
        margin-left: 30%;
        height: 150px;
    }
    #goa-p, #goa-a, #nike-p, #nike-a, #history-a, #history-p{
        font-size: 8px;
    }
    .section5-link a{
        font-size: 10px;
    }
    .section7-div p{
        display: none;
    }
}
@media(max-width: 350px){
    #goa-p, #goa-a, #nike-p, #nike-a, #history-a, #history-p{
        font-size: 6px;
    }
    .section5-link a{
        font-size: 6px;
    }
}