@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #0D0D0D;
    font-family: "Roboto";
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}
li, a{
    float: left;
}
header{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 190px;
    margin-right: 190px;
}
#a1, #a2, #a3, #a4, #a5{
    text-decoration: none;
    color: #036D2E;
    padding: 20px;
    text-transform: uppercase;
}
#span1{
    color: #7DF26B;
}
#h2_1, #h2_2, #h2_3, #h2_4, #h2_5{
    color: #05F26C;
}
p, h1{
    color: #BFBFBF;
}
#a1{
    font-size: 30px;
    margin-left: -17.5px;
}
#a2, #a3, #a4, #a5{
    font-size: 25px;
}
.div1{
    width: 75%;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 150px;
}
#h1_1{
    font-size: 70px;
}
#h2_1{
    margin-top: -30px;
}
.div2{
    width: 75%;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 150px;
    display: flex;
}
.div3{
    width: 75%;
}
#h2_2{
    font-size: 60px;
    margin-top: 10px;
}
#p1{
    margin-top: -40px;
    margin-right: 40px;
}
#img1{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.div4{
    display: flex;
    width: 75%;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 150px;
}
#img2{
    width: 650px;
    height: 400px;
    border-radius: 10px;
}
#img4{
    border-radius: 10px;
}
#p2{
    margin-left: 40px;
    margin-top: -40px;
}
#h2_3{
    margin-left: 40px;
    font-size: 60px;
    margin-top: 10px;
}
#img3, #img4, #img5, #img6, #img7{
    width: 40px;
    height: 40px;
}
.div6{
    margin-top: 150px;
}
.div7{
    margin-left: 190px;
    width: 75%;
    margin-right: 190px;
}
#h2_4{
    font-size: 60px;
}
#h2_5{
    margin-top: -320px;
    margin-bottom: 50px;
    font-size: 30px;
}
.div8{
    display: flex;
    margin-bottom: 10px;
}
#p3{
    margin-left: 10px;
    font-weight: 500;
}
.div9{
    display: flex;
    margin-bottom: 10px;
}
#p4{
    margin-left: 10px;
    font-weight: 500;
}
#a7{
    margin-left: 10px;
}
#a8{
    margin-left: 8px;
}
.div11{
    display: flex;
    margin-left: 500px;
    width: 50%;
}
#input1, #input2, #input3{
    width: 600px;
    height: 40px;
    border-radius: 7.5px;
    margin-bottom: 10px;
    background-color: #F3EAD3;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
}
#button1{
    width: 150px;
    height: 60px;
    border-radius: 7.5px;
    background-color: #05F26C;
    font-weight: 600;
    font-size: 25px;
}
.div12{
    text-align: center;
}
.div13{
    margin-top: 150px;
    width: 100%;
    height: 100px;
    background-color: #F3EAD3;
    border-radius: 10px;
}
#p5{
    color: black;
    text-align: center;
    font-weight: 500;
}