*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    width: calc(100% - 20%);
    height: calc(100vh - 4rem);
    border-radius: 8px;
}
.swiper-slide > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-slide{
    border-radius: 8px;
    overflow: hidden;
}
.pagination_{
    position: absolute;
    width: calc(100% - 10%);
}
.pagination_ div[class^="swiper-button"]::after{
    display: none;
}
.pagination_ div[class^="swiper-button"]{
    width: 45px;
    height: 45px;
    border: 1px solid rgb(75,75,75);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.pagination_ div[class^="swiper-button"] img{
    width: 60%;
}
.swiper-pagination-bullet-active{
    width: 20px;
    border-radius: 4px;
    background: rgba(200,200,200,0.8);
}